.toolbar span {
  color: white;
}

.toolbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin: auto;
}

.btn-delete {
  margin: 2px;
}

.btn-edite {
  margin: 2px;
}

.btn-new-player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}