<main>
  <mat-toolbar class="toolbar">
    <span>OUL Host</span>
  </mat-toolbar>
  <section class="card">
    <mat-card appearance="outlined">
      <mat-card-content class="content">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="player.name" />
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput name="phone" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Select</mat-label>
            <select matNativeControl required>
              <option value="JUSTICE_LEAGUE">Justice League</option>
              <option value="AVENGERS">The Avengers</option>
            </select>
          </mat-form-field>

          <div class="btns-register-list-players">
            <button mat-raised-button>Register Player</button>
            <button mat-raised-button (click)="listerPlayer()">List Player</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</main>
